<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">yelpcamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAlitMarkup">
      <div class="navbar-nav">
        <a href="/" class="nav-link">home</a>
        <a href="/campground" class="nav-link">campgrounds</a>
        <a href="/campground/new" class="nav-link">new campground</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentuser){ %>
        <a href="/register" class="nav-link">register</a>
        <a href="/login" class="nav-link">login</a>
         <%} else { %>
        <a href="/logout" class="nav-link">logout</a>
        <%}%>
      </div>
    </div>
  </div>
  </nav>